<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <link rel="stylesheet" href={{ "/css/style.css" | relURL }}>
  <link rel="icon" href={{ "/favicon.ico" | relURL }}>
  <title>truthixify | {{ .Title }}</title>
</head>
<body>
  <div class="container">
    {{ partial "theme" . }}
    {{ partial "navbar" .  }}
    {{ block "content" . }} {{ end }}
    {{ partial "footer" .  }}
  </div>
  <script src="{{ "/js/theme.js" | relURL }}"></script>
</body>
</html>