<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sharing insights and experiences on cryptography, blockchain, software engineering, and more. Follow along as I learn and build in tech.">
  <meta name="author" content="truthixify">

  <!-- Open Graph Meta Tags (for social media previews) -->
  <meta property="og:title" content="truthixify">
  <meta property="og:description" content="Sharing insights and experiences on cryptography, blockchain, software engineering, and more. Follow along as I learn and build in tech.">
  <meta property="og:image" content="https://truthixify.pages.dev/images/rejection.jpeg">
  <meta property="og:url" content="https://truthixify.pages.dev/">
  <meta property="og:type" content="website">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="https://truthixify.pages.dev/images/rejection.jpeg">
  <meta name="twitter:title" content="truthixify">
  <meta name="twitter:description" content="Sharing insights and experiences on cryptography, blockchain, software engineering, and more. Follow along as I learn and build in tech.">
  <meta name="twitter:image" content="https://truthixify.pages.dev/images/rejection.jpeg">
  <meta name="twitter:site" content="@truthixifi">

  <link rel="stylesheet" href={{ "/css/style.css" | relURL }}>
  <link rel="icon" href={{ "/favicon.ico" | relURL }}>
  <title>truthixify | {{ .Title }}</title>
</head>
<body>
  <div class="container">
    {{ partial "theme" . }}
    {{ partial "navbar" .  }}
    {{ block "content" . }} {{ end }}
    {{ partial "footer" .  }}
  </div>
  <script src="{{ "/js/theme.js" | relURL }}"></script>
</body>
</html>