{{ define "content" }}
  <main class="home">
    <h1 class="">Hello 👋</h1>
    <p>
      I'm <span>Yinka</span> <span>-</span> A passionate software developer with a knack for turning complex problems into elegant solutions.
    </p>
    <p>
      I love working on dev tooling, websites, distributed systems and cryptography.
    </p>
    <p>
      When I'm not immersed in code, you’ll find me sketching out ideas for my next project or deep diving into the world of cryptography.
    </p>
    <p>
      I’m always curious, always learning, and always up for a challenge.
    </p>
    <p>
      You can read more about me in the <a href="/about">about</a> page
    </p>
  </main>
{{ end }}